body {
  background-color: #46946d;
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

#box {
  display: flex;
  justify-content: center;
}

#listForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  width: 588px;
  filter: drop-shadow(0.4rem 0.4rem 2rem #476e5a);
}
.formBanner {
  display: flex;
  background-color: #73bd91;
  border-radius: 16px 16px 0px 0px;
  width: 36.8rem;
  justify-content: space-between;
}

.formBanner h2 {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 1.6rem 6rem 1rem 2.8rem;
  margin-top: 0;
}

.imageFull {
  display: none;
}
.capsules {
  width: 9rem;
  object-fit: scale-down;
  padding-bottom: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 4rem 8rem 4rem 8rem;
}

#nav h1 {
  color: white;
  font-size: 3rem;
  font-weight: 600;
}

.calendar {
  width: 3rem;
  object-fit: scale-down;
  cursor: pointer;
}

#add {
  border-radius: 12px;
  width: 8rem;
  height: 2rem;
  border: none;
  background-color: #73bd91;
  color: white;
  font-weight: 600;
  box-shadow: 0rem 0rem 20rem -0.8rem #21eb73;
  margin-bottom: 2rem;
  cursor: pointer;
}

@media (width <= 620px) {
  #listForm {
    width: 300px;
  }

  .formBanner {
    width: 18.8rem;
  }

  .formBanner h2 {
    font-size: 0.8rem;
    padding-left: 1rem;
  }

  .imageFull {
    display: inline;
  }
  .imageHalf {
    display: none;
  }
  .capsules {
    width: 4.2rem;
    padding-right: 0.6rem;
  }
}


li{
  list-style: none;
}